<%# Responsive Calendar: http://w3widgets.com/responsive-calendar/ %>

<div class="panel panel-primary">
  <div class="panel-heading">Workout Calendar</div>
  <div class="panel-body">
    <div class="responsive-calendar">
      <div class="controls">
          <a class="pull-left" data-go="prev"><div class="btn btn-default">&laquo;</div></a>
          <h4><span data-head-year="">2015</span> <span data-head-month="">January</span></h4>
          <a class="pull-right" data-go="next"><div class="btn btn-default">&raquo;</div></a>
      </div><br/>
      <div class="day-headers">
        <div class="day header">S</div>
        <div class="day header">M</div>
        <div class="day header">T</div>
        <div class="day header">W</div>
        <div class="day header">T</div>
        <div class="day header">F</div>
        <div class="day header">S</div>
      </div>
      <div class="days" data-group="days">
      </div>
    </div>
  </div>
</div>
    

<% content_for :script do %>
  <script>
   $(function() {
    $(".responsive-calendar").responsiveCalendar('edit', 
      <%== @workoutmap.to_json %>
    );
  });
  </script>
<% end %>