<% content_for :title, "Verifications" %>

<div id="header" class="row">
	<div class="col-xs-12">
	  <ol class="breadcrumb col-xs-8">
	    <li><%= link_to "Home", home_path %></li>
	    <li><%= link_to "Verifications", verifications_path %></li>
	    <li class="active"><%= @verification["id"] %></li>
	  </ol>
	</div>
</div>

<div class="row">

That verification looks like this:
	
	<div class="well"><%= @verification %></div>

</div>


