<%# 

Stats for Challenge Assignment.  Gets current challenge assignment as 'ca'

%>

<div class="panel panel-primary">
	<div class="panel-heading">Stats</div>

	<div class="panel-body">
		<dl class="dl-horizontal">				
			<dt>Status</dt><dd><%= ca.status %></dd> 
			<dt>Workouts</dt><dd></dd>
			<dt>Misses</dt><dd></dd>
		</dl>

		Exercise Totals
		<dl class="dl-horizontal">
			

		</dl>

	</div>

</div>