<% content_for :title, "About" %>

<div id="header" class="row">
	<div class="col-xs-12">
	  <ol class="breadcrumb col-xs-8">
	    <li><%= link_to "Home", home_path %></li>
	    <li class="active">About</li>
	  </ol>
	</div>
</div>

<div class="col-lg-8">

	<h1>The GPUCC Story</h1>

	<h3>GPUCC 2011</h3>

	<p>In early 2011, Lee Atkins organized a group fitness challenge called "The Great Pushup and Crunch Challenge".  This quickly became "GPUCC" (G-puck) for short.  GPUCC challenged its 100+ participants to complete a daily set of Pushups and Situps, each day adding one additional rep to each exercise.</p>

	<p>What started as a relatively mild 90 pushups daily eventually grew to over 300 daily pushups.  Those participants who stuck with the program reaped the fitness rewards that come from a dedicated daily exercise routine, and earned the titles of GPUCC Gold medal winners.</p>

	<p>Lee managed the whole challenge via email and spreadsheets.  Every day, he received over 100 emails that had to be individually entered into the spreadsheet, as well as monitoring those who missed workouts and were thereby eliminated.  There had to be a better way, right?</p>

	<h3>The birth of GPUCC</h3>

	<p>One of the participants, Hamish Eisler, thought so.  He set to work creating a solution which would allow Lee to administer challenges without all the overhead.  One that could scale to handle more and more partipants, while maintaining the atmosphere of camraderie, competition, and mutual encouragement that all the participants of GPUCC 2011 enjoyed.</p>

	<p>With the new GPUCC, now Lee can focus his efforts on designing workouts, offering support and encouragement, and working more closely with the individual participants.  For the participants, GPUCC provides better and more immediate feedback, and a much greater atmosphere of community encouragement to help keep them on track to their workout goals.</p>

</div>

<div class="col-lg-4"><%= image_tag("wgas.jpg", {:class => "img-responsive"} ) %></div>