// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal, .modal.fade.in {
    top: 50%; /* was 10% */
}

body {
	background-color: #FFDB4D;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-newset {
  max-width: 330px;
  padding: 15px;
}

.workout_exercise {
	padding:30px;
}