// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	//background: url('legopushups-right.jpg');
	background-color: #132D4D;
}

// Header Elements
h1, h2, h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color:#FFF;
}

// Splash page image
/*#splashjumbo {
	background: url('legopushups-right.jpg');
}*/

// Signin form styling
.form-signin {
  max-width: 330px;
  padding: 15px;
}

// Form for users to record sets as part of workout
.form-newset {
  max-width: 330px;
  margin: auto;
}

.workout_exercise {
	padding:30px;
}

.record-exercises {
	background-color: rgb(220, 229, 240);
}

// Set table background to avoid overrun
.workout-exercises {
	background-color: white;
	border-radius: 6px;
}

// Fix the background of the rich textarea
.note-editable {
	background-color: #fff
}

// Set the challenge description background-color
#challenge-description {
	background-color: #fff
}

.align-middle {
	vertical-align: middle !important;
}

.nodisplay {
	display: none;
}

.date_input {
	max-width: 110px;
}

.input-daterange {
	max-width: 300px;
}

.reps {
	width:60px;
	padding: 6px 12px;

}

iframe {
	border:0;
}

//// Glyph Colors

.green {
	color: green;
}

.red {
	color: red;
}

/////////////////////////// ///// Vendor Overrides ///// ///////////////////////////


// Resize Bootstrap Progress bars and darken background
.progress {
	height: 40px;
	margin-bottom: 10px;
	background-color: #949391
}

.bar {
	margin: 10px;
	font-size: 15px;
}

// Countdown timer formatting
.is-countdown {
	height: 60px;
}

// Panel Overflow
.panel {
	overflow: auto;
}

// Breadcrumb adjustments
.breadcrumb {
	background-color: transparent;
	margin:0;
}

// Fix bootstrap date spacer formatting
/*.input-daterange .add-on {
	height:auto;
}*/