<h1>Create an Exercise</h1>

<%= form_for :exercise, url: admin_exercises_path do |f| %>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>